# Logs
/logs/

# Python cache
**/__pycache__/
*.pyc

# Virtual environments
/colai_env/
/venv/
/.venv/

# Build / Packaging
*.egg-info/

# Local environment variables
.env

# Data
/data/config_data/
/data/data_sample.py
/data/invoices/
/data/price_products.csv
/data/price_products.xls
/data/prod_precios.csv
/data/records_handler.ipynb
/data/stock_sample.csv

# Misc project files
code_text.txt
